<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME TO LOGIN PAGE</title>
  </head>
  <body>
       <form action = "http://localhost:8080/register"   method ="post">
     <label>ENTER EMPID</label>	
	 <input type = "text"  name = "empid">	
	 <label>ENTER USERNAME</label>	
	  <input type = "text"  name = "username">	
	  <label>ENTER PASSWORD</label>	
	   <input type = "text"  name = "password">	
	   <label>ENTER EMAIL</label>	
	    <input type = "text"  name = "email">	
		<label>ENTER ROLE</label>	
		 <input type = "text"  name = "role">	
		<input type = "submit" value = "SIGN UP">
		 </form>
		 
		 <P>ALREADY REGISTERED <a  href = "http://localhost:8080/login"> SIGN IN</a></P>
		 
		 
  </body>
</html>
